body {
    margin: 0;
}

#overview {
    height: 100%;
    width: 100%;
    position: absolute;
}

#navbar {
    padding: 5px;
    background-color: #e1753e;
}

#config-dialog {
    display: none;
}

#config-dialog label,
#config-dialog input {
    display: block;
}